@import "normalize";
@import "variables";

body {
  font-family: 'Inter', sans-serif;
}

.btn {
  background-color: $btn-backgr;
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.learn-more {
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #424F7B;
}

.wrapper-full {
  max-width: 1440px;
  margin: 0 auto;
  background: #FFFFFF;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    display: flex;

    &-item {
      list-style: none;
      margin-right: 32px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $title-color;
    }

    &-item:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    margin: 50px 0;
    padding: 14px 16px;
    background-color: $btn-backgr;
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
}

 //start section Nature
.nature {

  &__content {
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid yellow;

    &-text {
      max-width: 588px;
      margin-bottom: 298px;
    }

    &-title {
      margin-top: 215px;
      margin-right: 24px;
    }

    &-info {
      margin-bottom: 24px;
      max-width: 485px;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: $base-color;
    }

    &-button {
      margin-top: 32px;
    }
  }


  &__view {
    display: flex;
    margin-top: 80px;

    &-img {
      max-width: 180px;
      max-height: 588px;

    }

    &-img:nth-child(2) {
      margin-top: 84px;
    }

    &-img:not(:last-child) {
      margin-right: 24px;
    }
  }
}

 //end section Nature


 //start section Hotel
.hotel {
  &__content {
    display: flex;
    padding: 80px 0;
    border-bottom:1px solid yellow;

    &-view {
      //margin: 80px 126px 80px 0;
      margin-right: 126px;

    }

    &-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-title {

      max-width: 690px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 150%;
      /* or 54px */
      letter-spacing: -0.01em;
    }

    &-info {
      max-width: 584px;
      margin-top: 16px;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: $base-color;
    }

    &-info:nth-child(2) {
      margin-top: 24px;
    }

    &-button {
      max-width: 152px;
      margin-top: 32px;
    }
  }
}

 //end section Hotel


 //start section Food


.food__content {
  border-bottom: 1px solid yellowgreen;
  padding: 80px 0;

  &-card {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 64px 126px;
  }

  & .card__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    /* identical to box height, or 54px */
    letter-spacing: -0.01em;
    color: $title-color;
  }

  & .card__descr {
    max-width: 584px;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: $base-color;
  }

  &-card-info-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }

  & .card__image-1 {
    grid-column: 4 / 7 ;
    grid-row: 1 / 2;
    margin-left: 126px;
  }

  .card-pic {
    width: 100%;
  }

  &-card-info-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    grid-column: 4 / 7;
    grid-row: 1 / 2;
  }

  & .card__image-2 {
    grid-column: 1 / 4 ;
    grid-row: 1 / 2;
    margin-right: 126px;
    margin-top: 64px;
  }
}
 //end section Food


 //start section Rooms
.rooms {
  padding-bottom: 80px ;

  &__content {
    & .rooms__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & .rooms__title {
      margin-top: 80px;
      margin-bottom: 0;
      font-family: 'Montserrat' ,sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 150%;
      color: $title-color;
    }

    & .rooms__descr {
      margin: 24px 0 0 ;

      max-width: 584px;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      /* or 27px */
      text-align: center;
      color: $base-color;
    }

    & .rooms__btn {
      margin-top: 32px;
    }

  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0 24px;
    margin-top: 80px;
  }

  &__card {
    position: relative;
    grid-column: span 2;

    &__title {
      margin-top: 32px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      /* identical to box height, or 36px */
      color: #000000;
    }

    &-descr {
      margin-top: 16px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: $base-color;


    }

    &-link {
      margin-top: 32px;
      display: inline-block;
      text-decoration: none;
      padding-right: 30px;
      background: url("/image/svg/arrow_right-ico.svg") no-repeat 100% center;
    }

    &-img {
      width: 100%;
    }
  }
}

 //end section Rooms


 //start section How
.how {

  &__content {
    padding: 80px 0;
    display: flex;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;


  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #424F7B;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #192252;
    margin-top: 12px;
    margin-bottom: 0;
  }

  &__descr {
    max-width: 384px;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: $base-color;
    margin-top: 24px;
    margin-right: 224px;
    margin-bottom: 0;
  }

  &__wrapbtn {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;

    &-text {
      padding-left: 24px;
    }
  }

  &__cards {
    max-width: 588px;


  }



  &__card {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 36px;
    margin-top: 24px;
    border-radius: 4px;


    -webkit-box-shadow: 4px 4px 19px 0 rgba(34, 60, 80, 0.1);
    -moz-box-shadow: 4px 4px 19px 0 rgba(34, 60, 80, 0.1);
    box-shadow: 4px 4px 19px 0 rgba(34, 60, 80, 0.1);

    &-title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      color: #424F7B;
      width: 100%;
      position: relative;
    }

    &-title:after {
      display: inline-block;
      content: '';
      background-image: url('/image/svg/arrow-down-ico.svg');
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      right: 0;
      z-index: 10;
    }

    &-descr {
      margin-top: 24px;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: #848FAC;
    }
  }

  &__open {
    .how__card-title:after {
      display: inline-block;
      content: '';
      background-image: url('/image/svg/arrow-up-ico.svg');
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      right: 0;
      z-index: 10;
    }
  }
}

 //end section How


 //start section Slider
.slider {

  &__content {
    padding: 80px 0;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
    color: $title-color;
    margin-bottom: 0;
  }

  &__pic {
    padding-top: 62px;
  }

  &__descr {
    max-width: 792px;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #848FAC;
    margin-top: 44px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: $title-color;
    margin-top: 40px;
    margin-bottom: 82px;
  }
}

// start настройки slick-slider

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-slide,
.slick-initialized {
  display: flex!important;
  flex-direction: column;
}

.slick-active::marker {
  color: red;
}
.slick-dots button {
  visibility: hidden;
}

// end настройки slick-slider

 //end section Slider
