/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import "normalize";
@import "variables";

body {
  font-family: 'Inter', sans-serif;
}

.btn {
  background-color: $btn-backgr;
  padding: 16px 32px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.btn:hover, .btn:focus {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.learn-more {
  text-decoration: none;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #424F7B;
}

.wrapper-full {
  max-width: 1440px;
  margin: 0 auto;
  background: #FFFFFF;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 10px;

  &__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    &-item {
      list-style: none;
      margin-right: 32px;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: $title-color;

      & a {
        text-decoration: none;
        color: inherit;
      }
    }

    &-item:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    margin: 50px 0;
    padding: 14px 16px;
    background-color: $btn-backgr;
    border-radius: 4px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
  }
}

//start section Nature
.nature {

  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    &-text {
      max-width: 588px;
      margin-bottom: 298px;
      padding-right: 10px;
    }

    &-title {
      margin-top: 215px;
      margin-right: 24px;
    }

    &-info {
      margin-bottom: 24px;
      max-width: 485px;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: $base-color;
    }

    &-button {
      margin-top: 32px;
    }
  }


  &__view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 80px;

    &-img {
      max-width: 180px;
      max-height: 588px;
    }

    &-img-full {
      display: none;
    }

    &-img:nth-child(2) {
      margin-top: 84px;
    }

    &-img:not(:last-child) {
      margin-right: 24px;
    }
  }
}

//end section Nature


//start section Hotel
.hotel {
  &__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 80px 0;

    &-view {
      margin-right: 126px;
      max-width: 384px;

    }

    &-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &-title {

      max-width: 690px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 150%;
      /* or 54px */
      letter-spacing: -0.01em;
    }

    &-info {
      max-width: 584px;
      margin-top: 16px;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: $base-color;
    }

    &-info:nth-child(2) {
      margin-top: 24px;
    }

    &-button {
      max-width: 152px;
      margin-top: 32px;
    }
  }
}

//end section Hotel


//start section Food


.food__content {
  padding: 80px 0;

  &-card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 126px 1fr 126px 1fr 126px 1fr 126px 1fr 126px 1fr;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 64px 126px;
  }

  & .card__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: $title-color;
  }

  & .card__descr {
    max-width: 584px;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: $base-color;
  }

  &-card-info-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }

  & .card__image-1 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / 7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    margin-left: 126px;
  }

  .card-pic {
    width: 100%;
  }

  &-card-info-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4 / 7;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }

  & .card__image-2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    margin-right: 126px;
    margin-top: 64px;
  }
}

//end section Food


//start section Rooms
.rooms {
  padding-bottom: 80px;

  &__content {
    & .rooms__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    & .rooms__title {
      margin-top: 80px;
      margin-bottom: 0;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 150%;
      color: $title-color;
    }

    & .rooms__descr {
      margin: 24px 0 0;

      max-width: 584px;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      color: $base-color;
    }

    & .rooms__btn {
      margin-top: 32px;
    }

  }

  &__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr 24px 1fr;
    grid-template-columns: repeat(6, 1fr);
    gap: 0 24px;
    margin-top: 80px;
  }

  &__card {
    position: relative;
    -ms-grid-column-span: 2;
    grid-column: span 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    &__title {
      margin-top: 32px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      color: #000000;
    }

    &-descr {
      margin-top: 16px;
      margin-bottom: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: $base-color;


    }

    &-link {
      margin-top: 32px;
      display: inline-block;
      text-decoration: none;
      padding-right: 30px;
      background: url("/image/svg/arrow_right-ico.svg") no-repeat 100% center;
      max-width: 127px;
    }

    &-link:hover,
    &-link:visited,
    &-link:active {
      opacity: .75;
    }

    &-img {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

//end section Rooms


//start section How
.how {

  &__content {
    padding: 80px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;


  }

  &__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #424F7B;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #192252;
    margin-top: 12px;
    margin-bottom: 0;
  }

  &__descr {
    max-width: 384px;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: $base-color;
    margin-top: 24px;
    margin-right: 224px;
    margin-bottom: 0;
  }

  &__wrapbtn {
    padding-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    &-text {
      padding-left: 24px;
    }
  }

  &__cards {
    width: 588px;


  }


  &__card {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 36px;
    margin-top: 24px;
    border-radius: 4px;


    -webkit-box-shadow: 4px 4px 19px 0 rgba(34, 60, 80, 0.1);
    box-shadow: 4px 4px 19px 0 rgba(34, 60, 80, 0.1);

    &-title {
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 150%;
      color: #424F7B;
      width: 100%;
      position: relative;
    }

    &-title:after {
      display: inline-block;
      content: '';
      background-image: url('/image/svg/arrow-down-ico.svg');
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      right: 0;
      z-index: 10;
    }

    &-descr {
      margin-top: 24px;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: #848FAC;
      display: none;
    }
  }

  &__open {
    .how__card-title:after {
      display: inline-block;
      content: '';
      background-image: url('/image/svg/arrow-up-ico.svg');
      position: absolute;
      width: 40px;
      height: 40px;
      top: 0;
      right: 0;
      z-index: 10;
    }
  }
}

//end section How


//start section Slider
.slider {

  &__content {
    padding: 80px 0;
    margin-bottom: 82px;
  }

  &__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.01em;
    color: $title-color;
    margin-bottom: 0;
  }

  &__pic {
    padding-top: 62px;
  }

  &__descr {
    max-width: 792px;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #848FAC;
    margin-top: 44px;
    text-align: center;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: $title-color;
    margin-top: 40px;
    margin-bottom: 26px;
  }
}

// start настройки slick-slider

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #FAB047;
  position: absolute;
  bottom: -10%;
  left: 48%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

}

.slick-slide,
.slick-initialized {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.slick-dots li {
  display: inline-block;
  margin: 0 10px;
}

.slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background: rgba(250, 176, 71, 0.35);
  border-radius: 50%;
  border: none;
}

.slick-dots .slick-active button {
  font-size: 0;
  width: 15px;
  height: 15px;
  background: #FAB047;
  border-radius: 50%;
  border: none;
}


// end настройки slick-slider

//end section Slider


//start  Footer
.footer {
  width: 100%;

  &__company {
    width: 48%;
  }

  &__content {
    background-color: #0B265A;
    padding: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__title a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
  }

  &__subtitle {
    max-width: 186px;
    margin: 14px 0 0 0;

    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #D9DBDE;
  }

  &__icon {
    margin-top: 32px;
  }

  &__social {
    cursor: pointer;
  }

  &__social:not(:last-child) {
    margin-right: 32px;
  }

  &__nav {
    width: 52%;
  }

  &__navigate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10px;
  }

  &__items {
    margin: 0;
    padding: 0;
  }

  &__link {
    list-style: none;
    margin-top: 24px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #D9DBDE;
  }

  &__link:not(:first-child) {
    cursor: pointer;
  }

  &__link-title {
    margin-top: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
  }
}


//end  Footer

// Media

@media screen and (max-width: 1250px) {
  .wrapper {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1200px) {
  .food__content {

    .card__image-1 {
      margin-left: 30px;
    }

    .card__image-2 {
      margin-right: 30px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .hotel__content-view {
    margin-right: 58px;
  }
}

@media screen and (max-width: 1054px) {
  .how__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .how__info {
    margin-bottom: 26px;
  }
}


@media screen and (max-width: 910px) {
  .nature__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    &-title {
      margin-top: 74px;
    }

    &-text {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }

    &-info {
      max-width: 100%;
    }
  }

  .footer {

    &__content {
      gap: 30px;
      padding: 50px;
    }

    &__subtitle {
      max-width: 100%;

    }
  }
}

@media screen and (max-width: 840px) {
  .hotel__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    &-view {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      width: 100%;
      margin: 0 auto;

      & img {
        width: 100%;
      }
    }

    &-text {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;
      width: 100%;
    }

    &-descr {
      text-align: center;
    }

    &-title {
      max-width: 100%;
    }

    &-info {
      max-width: 100%;
    }

    &-button {
      margin: 32px auto;
    }
  }

  .food__content {

    &-card {
      grid-gap: 0 30px;
    }

  }
}

@media screen and (max-width: 765px) {
  .footer {
    &__content {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    &__company,
    &__nav {
      width: 100%;
    }
  }
}

@media screen and (max-width: 740px) {
  .food__content {

    &-card-info-1,
    &-card-info-2 {
      -ms-grid-column: 1;
      -ms-grid-column-span: 6;
      grid-column: 1 / 7;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .card__image-1,
    .card__image-2 {
      -ms-grid-column: 2;
      -ms-grid-column-span: 4;
      grid-column: 2 /6;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-row: 3 / 4;
      margin: 40px auto;
    }
  }

  .rooms {

    &__cards {
      grid-row-gap: 26px;
    }

    &__card {
      -ms-grid-column-span: 3;
      grid-column: span 3;
    }

    &__card-img {
      margin-bottom: 10px;
    }

  }
}

@media screen and (max-width: 640px) {

  .nature__view-img {
    display: none;
  }

  .nature__view-img-full {
    width: 100%;
    display: block;
  }

  .how {

    &__info {
      text-align: center;
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    &__descr {
      max-width: 100%;
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 608px) {
  .header {
    margin-top: 25px;

    &__btn {
      margin: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  .rooms {

    &__card {
      -ms-grid-column: 2;
      -ms-grid-column-span: 4;
      grid-column: 2 / 6;
    }
  }
}

@media screen and (max-width: 510px) {
  .rooms {

    &__card {
      -ms-grid-column: 1;
      -ms-grid-column-span: 6;
      grid-column: 1 / 7;
    }
  }

  .how__card-title {
    padding-right: 45px;
  }

  .how__card-title:after,
  .how__open .how__card-title:after {
    right: -22px;
  }

}

@media screen and (max-width: 477px) {
  .header {

    &__list {
      padding: 0;
    }
  }
}

@media screen and (max-width: 475px) {
  .food__content {

    .card__image-1,
    .card__image-2 {
      -ms-grid-column: 1;
      -ms-grid-column-span: 6;
      grid-column: 1 / 7;
    }

  }
}

@media screen and (max-width: 440px) {

  .footer {
    &__navigate {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    &__link-title {
      margin-top: 25px;
      border-bottom: 1px solid #ffffff80;
    }
  }

}

